

.main_chat
  .chat_header
    .chat_header__text
      .chat_header__text--title
        = @group.name
      .chat_header__text--member
        Member :
        - @group.users.each do |user|
          = user.name
    .chat_header__btn
      = link_to edit_group_path(@group), class: "chat_header__btn--edit" do
        Edit

  .chat_main
    %ul
      %li.chat_list=render @messages

  .chat_main__form
    = form_for [@group, @message] do |f|
      = f.text_field :content, placeholder: "type a message", class: "chat_main__form__blank"
        
      %label{:class => "chat_main__form__label"}
        = icon('fas', 'image', class: "chat_main__form__icon")
        = f.file_field :image, class: 'chat_main__form__file'

      = f.submit "Send", class: "chat_main__form--submitbtn"
        